.contact,
.follow {
    margin: auto;
    width: 60%;
}

.footer span {
    font-weight: 100;
}

.contact .title, .follow .title {
    font-weight: bold;
}

.contact span,
.follow span {
    display: block;
}

.footer {
    background-color: rgb(43, 43, 43);
    color: rgb(230, 230, 230);
}

.verline {
    border-left: 1px solid #CDCDCD;
    height: 100px;
    width: 1px;
}

.details{
    font-size: 13px;
    font-weight: bold;
}

