
.logincard{
    margin-top: 50px;
    border-radius: 4px;
}

.sucontent{
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.sutitle{
    font-size: 60px;
}

.suform{
    padding: auto;
}

.suaform{
    border-radius: 5px;
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 20px;
}

.sutxt{
    font-size: 17px;
    text-align: center;
    display: block;
    margin-top: 6px auto ;
    font-weight: 700;
}

.subtn{
    display: block;
    border-radius: 3px;
    border-style: none;
    width: 90%;
    margin: 10px auto;
    background-color: #f46e4d;
}

.lnbtn{
    margin: 13px auto;
    background-color: #f46e4d;
    color: white;
    border: none;
}

.separate{
    display: flex;
    justify-content: space-between;
}


.learn{
    display: block;
    margin-top: 40px;
    color: #f46e4d;
    font-size: 13px;
    font-weight: 700;
}

a{
    text-decoration: none;
}