
.loginform{
    margin: auto;
    padding: 20px;
}

.lnbtn{
    background-color: #f46e4d;
    color: white !important;
    border: none;
}

.lnbtnLink{
    color: white !important;
    border: none;
}

.loginform .reg{
    font-weight: bold;
}


